---
import '@styles/global.css';
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';

const pageTitle = 'About me';
---

<BaseLayout
  pageTitle={pageTitle}
  description="A landing page inspired by windows phone ui showcasing blogs and projects"
>
  <Header />
  <div
    class="prose prose-slate px-4 py-4 font-noto-sans text-sm leading-normal md:px-20"
  >
    <p>
      Salve! I am Gaius Julius Caesar, a Roman general and statesman renowned
      for my military prowess and political acumen. Following my recent conquest
      of Gaul, I continue to shape the future of Rome with strategic vision and
      decisive action.
    </p>

    <h3>Achievements</h3>
    <dl>
      <dt>Conquest of Gaul</dt>
      <dd>
        Successfully expanded Roman territory, bringing vast lands and resources
        under Roman control.
      </dd>
      <dt>Military Strategy</dt>
      <dd>
        Renowned for innovative tactics and swift victories in numerous battles.
      </dd>
      <dt>Political Leadership</dt>
      <dd>
        Instrumental in the transition from the Roman Republic to the Roman
        Empire.
      </dd>
    </dl>

    <h3>Notable Campaigns</h3>
    <dl>
      <dt>Gallic Wars</dt>
      <dd>
        Detailed accounts of my campaigns, strategies, and victories over
        various Gallic tribes.
      </dd>
      <dt>Crossing the Rubicon</dt>
      <dd>
        Marked the beginning of a new era in Roman history, showcasing my bold
        decision-making.
      </dd>
    </dl>

    <h3>Vision</h3>
    <p>
      My vision is to bring stability and prosperity to Rome, ensuring its
      dominance and cultural influence for generations to come.
    </p>

    <p>
      For official correspondence, please reach out to my praetorian staff or
      visit my forum in Rome.
    </p>

    <blockquote>Roma Invicta!</blockquote>
  </div>
</BaseLayout>
