---
import '@styles/global.css';

import { ViewTransitions } from 'astro:transitions';

interface Props {
  pageTitle: string;
  description?: string;
}

const { pageTitle, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
